.footer {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  